agentmemory==0.4.7
agentloop==0.2.2
easycompletion==0.4.1
agentbrowser==0.2.2
fuzzysearch==0.7.3
python-Levenshtein==0.21.1
prompt-toolkit==3.0.39
pyfiglet==0.8.post1
PyPDF2==3.0.1
openai-whisper==20230314
yt-dlp==2023.7.6
wtpsplit==1.2.3
fuzzywuzzy==0.18.0
matplotlib==3.7.2
beautifulsoup4==4.12.2
